!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title "CrossRef Cited-by Links
    %link{:rel => "stylesheet", :href => "citedby.css", :type => "text/css"}
  %body
    .citedby-error= error_message