citedby-citation {
  color: blue;
}

citedby-error {
  color: red;
}

citedby-none {
  color: green;
}

citedby-loading {
}

citedby-title {
}

citedby-authors {
}

citedby-journal-title {
}

citedby-year {
}

citedby-doi {
}

citedby-next {
}

citedby-previous {
}
