#citedby-citations {
  color: blue;
}

#citedby-error {
  color: red;
}

#citedby-none {
  color: green;
}

#citedby-next {
}

#citedby-previous {
}

.citedby-citation {
}

.citedby-loading {
}

.citedby-title {
}

.citedby-authors {
}

.citedby-journal-title {
}

.citedby-year {
}

.citedby-doi {
}


