#citedby-citations > * {
  padding: 4px;
}

#citedby-error {
  font-color: darkred;
}

#citedby-none {
  font-color: darkgrey;
}

#citedby-loading {
  font-style: italic;
  font-color: darkgrey;
}

#citedby-next {
}

#citedby-previous {
}

.citedby-citation > * {
  padding: 0px 4px;
}

.citedby-title {
}

.citedby-authors {
}

.citedby-journal-title {
  font-style: italic;
}

.citedby-year {
  font-style: italic;
  font-weight: bold;
}

.citedby-doi {
  font-weight: bold;
}
